[user]
    name = Shervin Asgari
    email = shervin@asgari.no
 
[color]
    branch = auto
    diff = auto
    status = auto
 
[branch]
    autosetuprebase = always
 
[push]
    # only push the current branch, not all the local branches.
    default = current
 
[core]
    excludesfile = ~/.gitignore
    # especially useful on Windows where the executable bit is constantly
    # set making git list the file as modified.
    fileMode = false
 
    # this setting makes the stat calls run in paralell, speeding up git
    # status and git diff on Windows filesystem since the caching of file
    # meta data is mediocre.
    preloadindex = true
    # lstat sys calls on Windows are very slow, so don't use it for git
    # status & the like.
    ignoreStat = true