#Server
1. Lage et nytt spill (Setup)
2. Se liste over eksisterende spill
3. Joine eksisterende spill (som ikke er påbegynt)
4. Logge inn med brukernavn/passord (kanskje bruke en open API, facebook, google login etc)

#Game funksjonalitet
Alle actions/metoder logger til et visst sted. Denne loggen blir alltid displayet for alle spillerne. Bedre med for mye info enn for lite
<<User>> <<Action>>


#Setup
1.0 - Server starter en asynchronous tråd der alle random ting blir laget. Wonder velget, kultur kort, units, huts, tiles, city states, civs.
1.0.1 - Hvordan lagring av dette skal bli vet jeg ikke enda. Beste er å cache det i minnet først. Vil helst ikke commite randomiseringen. Mulig det beste er å enten bare skrive til disk. (Enten serialisering eller filer der ting er sortert ut fra random), så bare velger man fra første linje osv
1.0.2 - Lage unit test for reshuffle. Så dersom alle ting er brukt opp, så skal det reshuffles og skrives over i filen igjen
1.1 - Når man lager et nytt spill skal man velge antall spillere. Kan eventuelt begynne med fixed 4 player
1.2 - Random CIV #public
1.3 - Random color #public
1.4 - Random Wonders #public, #server må lage midieval og modern, lagre
1.5 - Random brett #public
1.6 - Gi ut units #private
1.6.1 - Noen civs skal ha flere units, dette kan hardkodes basert på civ



http://stackoverflow.com/questions/2922692/to-get-columns-from-excel-files-using-apache-poi 
Tips til hvordan jeg leser ut enkelt kolonne



#Inne i spillet

Hver gang det gjøres en action, skal dette logges på siden av skjermen, f.eks <<User>> chose civ Japan

#Battle

Her må jeg tenke ut hvordan jeg skal gjøre det enklest mulig.


5. Choose CIV (En del av setup)