<div ng-cloak>
  <div class="row padd-top-7">
    <div class="panel panel-default col-xs-12">
      <div class="panel-heading"><h3>Below is a read-only version of the asset file</h3></div>
      <div class="panel-body">
        <iframe class="col-xs-12" ng-src="{{currentGame.assetLink}}" frameborder="0" height="555"></iframe>
      </div>
    </div>
  </div>
  <div class="row" ng-if="userHasAccess">
    <div class="panel panel-success col-xs-12">
      <div class="panel-heading"><h3>Template for a 4 player asset file which you can copy and use for your own games</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>You need a Google account</li>
          <li>Push the Asset Template link</li>
          <li>Make a copy of your own (File -> copy)</li>
          <li>Make it public to read (File -> Share)</li>
          <li>Publish to the Web (File -> Publish to the web)
            <ul>
              <li>Choose Embed</li>
              <li>Make sure <i>"Automatically republish when changes are made"</i> is ticked</li>
              <li>Press the publish button</li>
            </ul>
          </li>
          <li>Copy the URL and save it into the form</li>
          <li>A read only view should now appear</li>
          <li><b>Share the URL in the chat so players can request edit access, or give them access if you have their email address so everyone can participate in editing the file</b></li>
        </ul>
        <h1><a href="https://docs.google.com/spreadsheets/d/10-syTLb2i2NdB8T_alH9KeyzT8FTlBK6Csmc_Hjjir8/edit?usp=sharing" target="_blank">Asset template</a></h1>

        <p class="padd-top-7">

        <form name="assetForm" ng-submit="gameCtrl.updateAssetLink()">
          <div class="form-group">
            <label for="inputAssetLink">Link to copy of your asset file</label>
            <input type="text" class="form-control" id="inputAssetLink" ng-model="currentGame.newAssetLink" name="inputAssetLink"
                   placeholder="Insert link to copy of your asset file" />
          </div>
          <button type="submit" class="btn btn-success">Update link!</button>
        </form>
        </p>
      </div>
    </div>
  </div>
</div>
