<div ng-controller="UserItemController as userCtrl" ng-cloak>
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title panel-primary">
            <button class="btn btn-info" ng-click="privateLogCollapse = !privateLogCollapse">Toggle Private log</button>
          </h3>
        </div>
        <div class="panel-body" collapse="privateLogCollapse">
          <table ng-table="userCtrl.tablePrivateLog" ng-show="$data.length > 0"
                 class="table table-bordered table-hover table-condensed text-center table-responsive">
            <tr ng-repeat="log in $data" class="active" ng-class-even="'row-even'" ng-class-odd="'row-odd'">
              <td data-title="'Date'" sortable="'created'">{{log.created | date:'dd-MM-yyyy - HH:mm:ss'}}</td>
              <td data-title="'Log'" sortable="'log'">{{log.log}}</td>
              <td data-title="'Action'">
                <button ng-if="canInitiateUndo(log)"
                        ng-really-message="This will initiate vote for Undo. Are you sure?"
                        ng-really-click="initiateUndo(log.id)"
                        class="btn btn-sm btn-warning" tooltip="Press undo button to request a vote for undo. All players must vote yes for undo to be made.
                    Once all players have voted yes, the item will be put back in the deck and reshuffled">
                  Undo
                </button>
                <button ng-if="userCtrl.canRevealTech(log)"
                        ng-really-message="This will reveal your tech. Are you sure?"
                        ng-really-click="userCtrl.revealTechFromLog(log.id)"
                        class="btn btn-sm btn-warning"
                        tooltip="Reveal your tech. This will make an entry in the game log and display the hidden information">
                  Reveal Tech
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-5" ng-if="gameCtrl.yourTurn">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Draw items</h3>
        </div>
        <div class="panel-body">
          <div class="form-group input-group btn-group" dropdown>
            <button type="button" class="btn btn-danger dropdown-toggle form-control" dropdown-toggle>
              Choose Item to Draw <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="itemToDraw = 'CIV'" tooltip="Draw a civilization, for instance America">Civs</a></li>
              <li class="divider"></li>
              <li><a ng-click="itemToDraw = 'Culture I'">Culture I</a></li>
              <li><a ng-click="itemToDraw = 'Culture II'">Culture II</a></li>
              <li><a ng-click="itemToDraw = 'Culture III'">Culture III</a></li>
              <li class="divider"></li>
              <li><a ng-click="itemToDraw = 'Infantry'">Infantry</a></li>
              <li><a ng-click="itemToDraw = 'Artillery'">Artillery</a></li>
              <li><a ng-click="itemToDraw = 'Mounted'">Mounted</a></li>
              <li><a ng-click="itemToDraw = 'Aircraft'">Aircraft</a></li>
              <li class="divider"></li>
              <li><a ng-click="itemToDraw = 'Huts'">Hut</a></li>
              <li><a ng-click="itemToDraw = 'Villages'">Village</a></li>
              <li class="divider"></li>
              <li><a ng-click="itemToDraw = 'Great Person'">Great Person</a></li>
              <li><a ng-click="itemToDraw = 'Tiles'">Tile</a></li>
              <li><a ng-click="itemToDraw = 'City-States'">City-State</a></li>
              <li class="divider"></li>
              <li><a ng-click="itemToDraw = 'Ancient Wonders'">Ancient Wonder</a></li>
              <li><a ng-click="itemToDraw = 'Medieval Wonders'">Medieval Wonder</a></li>
              <li><a ng-click="itemToDraw = 'Modern Wonders'">Modern Wonder</a></li>
            </ul>
          </div>

          <div class="form-group">
            <input type="text" disabled ng-model="itemToDraw" placeholder="Item to draw"/>
            <input type="button"
                   ng-really-message="Are you sure you want to make a draw?"
                   ng-really-click="userCtrl.drawItem(itemToDraw)"
                   class="btn btn-danger"
                   ng-disabled="itemToDraw == null"
                   value="Draw Item"
              />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="userCtrl.civs.length > 0">
    <div class="col-xs-12">
      <button class="btn btn-info" ng-click="civCollapse = !civCollapse">Toggle Civilizations</button>
      <hr>
    </div>
  </div>

  <div class="row" ng-show="userCtrl.civs.length > 0">
    <div collapse="civCollapse">
      <div ng-repeat="item in userCtrl.civs" class="col-md-3">
        <div class="well well-sm">
          <ul class="list-unstyled">
            <li>
              <p class="text-justify">
                <span><strong>{{userCtrl.nextElement(item).sheetName}}:</strong></span><br/>
                <span><i>{{userCtrl.nextElement(item).name}}</i></span>
              </p>

              <p class="text-center">
                <button ng-really-message="This will discard your civilization. Are you sure?"
                        ng-really-click="userCtrl.discardItem(item)"
                        class="btn btn-sm btn-warning"
                        tooltip="Discard your civilization. This will make an entry in the game log">
                  Discard Civilization
                </button>
                <button ng-really-message="This will choose your civilization. Are you sure?"
                        ng-really-click="userCtrl.revealItem(item)"
                        ng-disabled="userCtrl.nextElement(item).hidden == false"
                        class="btn btn-sm btn-warning"
                        tooltip="This will choose your civilzation and make an entry in the game log. Appropriate tech will also be chosen. Once civilization is chosen, you cannot rechoose">
                  Choose civilization
                </button>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="userCtrl.items.length > 0">
    <div class="col-xs-12">
      <button class="btn btn-info" ng-click="itemCollapse = !itemCollapse">Toggle Items</button>
      <hr>
    </div>
  </div>

  <div class="row" ng-show="userCtrl.items.length > 0">
    <div collapse="itemCollapse">
      <div ng-repeat="item in userCtrl.items" class="col-md-2">
        <div class="well well-sm">
          <ul class="list-unstyled">
            <li>
              <p class="text-justify">
                <span><strong>{{userCtrl.nextElement(item).sheetName}}:</strong></span><br/>
                <span><i>{{userCtrl.nextElement(item).name}}</i></span>
              </p>

              <p class="text-center">
                <button ng-really-message="This will discard your item. Are you sure?"
                        ng-really-click="userCtrl.discardItem(item)"
                        class="btn btn-sm btn-warning"
                        tooltip="Discard your item. This will make an entry in the game log">
                  Discard Item
                </button>
                <button ng-really-message="This will reveal your item. Are you sure?"
                        ng-really-click="userCtrl.revealItem(item)"
                        ng-disabled="userCtrl.nextElement(item).hidden == false"
                        class="btn btn-sm btn-warning"
                        tooltip="Reveal your item. This will make an entry in the game log and display hidden information">
                  Reveal Item
                </button>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="userCtrl.greatPersons.length > 0">
    <div class="col-xs-12">
      <button class="btn btn-info" ng-click="gpCollapse = !gpCollapse ">Toggle Great Persons</button>
      <hr>
    </div>
  </div>

  <div class="row" ng-show="userCtrl.greatPersons.length > 0">
    <div collapse="gpCollapse">
      <div ng-repeat="item in userCtrl.greatPersons" class="thumbnail col-md-3">
        <img ng-src="/images/useritems/{{item.greatperson.image}}" tooltip="{{item.greatperson.name}}"/>

        <div class="caption">
          <h3 class="text-center">{{item.greatperson.name}}</h3>

          <p class="text-justify">
            {{item.greatperson.description}}
          </p>

          <p class="text-center">
            <button ng-really-message="This will discard your item. Are you sure?"
                    ng-really-click="userCtrl.discardItem(item)"
                    class="btn btn-sm btn-warning"
                    tooltip="Discard your item. This will make an entry in the game log">
              Discard Item
            </button>
            <button ng-really-message="This will reveal your item. Are you sure?"
                    ng-really-click="userCtrl.revealItem(item)"
                    ng-disabled="item.greatperson.hidden == false"
                    class="btn btn-sm btn-warning"
                    tooltip="Reveal your item. This will make an entry in the game log and display hidden information">
              Reveal Item
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="userCtrl.units.length > 0">
    <div class="col-xs-12">
      <button class="btn btn-info" ng-click="unitCollapse = !unitCollapse ">Toggle Units</button>
      <hr>
    </div>
  </div>

  <div class="row" ng-show="userCtrl.units.length > 0">
    <div collapse="unitCollapse">

      <!-- Doesn't quite work -->
      <!--<carousel interval="0">
        <slide ng-repeat="item in userCtrl.units">
          <img ng-src="/images/useritems/{{userCtrl.nextElement(item).image}}"
               tooltip="{{userCtrl.nextElement(item).name}}"/>

          <div class="carousel-caption">
            <h3 class="text-center">{{userCtrl.nextElement(item).name}}</h3>
            <h4>Unit {{$index+1}} of {{userCtrl.units.length}}</h4>

            <p>
              <button ng-really-message="This will discard your item. Are you sure?"
                      ng-really-click="userCtrl.discardItem(item)"
                      class="btn btn-sm btn-warning"
                      tooltip="Discard your item. This will make an entry in the game log">
                Discard Unit
              </button>
              <button ng-really-message="This will reveal your unit. Are you sure?"
                      ng-really-click="userCtrl.revealItem(item)"
                      ng-disabled="userCtrl.nextElement(item).hidden == false"
                      class="btn btn-sm btn-warning"
                      tooltip="Reveal your item. This will make an entry in the game log and display hidden information">
                Reveal Unit
              </button>
            </p>
          </div>
        </slide>
      </carousel>-->
      <div ng-repeat="item in userCtrl.units" class="thumbnail col-md-2">
        <img ng-src="/images/useritems/{{userCtrl.nextElement(item).image}}"
             tooltip="{{userCtrl.nextElement(item).name}}"/>

        <div class="caption">
          <h3 class="text-center">{{userCtrl.nextElement(item).name}}</h3>

          <p class="text-center">
            <button ng-really-message="This will discard your item. Are you sure?"
                    ng-really-click="userCtrl.discardItem(item)"
                    class="btn btn-sm btn-warning"
                    tooltip="Discard your item. This will make an entry in the game log">
              Discard Unit
            </button>
            <button ng-really-message="This will reveal your unit. Are you sure?"
                    ng-really-click="userCtrl.revealItem(item)"
                    ng-disabled="userCtrl.nextElement(item).hidden == false"
                    class="btn btn-sm btn-warning"
                    tooltip="Reveal your item. This will make an entry in the game log and display hidden information">
              Reveal Unit
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="userCtrl.tiles.length > 0">
    <div class="col-xs-12">
      <button class="btn btn-info" ng-click="tilesCollapse = !tilesCollapse">Toggle Tiles</button>
      <hr>
    </div>
  </div>

  <div class="row" ng-show="userCtrl.tiles.length > 0">
    <div collapse="tilesCollapse">
      <div ng-repeat="item in userCtrl.tiles" class="thumbnail col-md-3">
        <img ng-src="/images/useritems/{{userCtrl.nextElement(item).image}}" width="200px" height="200px"
             tooltip="{{userCtrl.nextElement(item).name}}"/>

        <div class="caption">
          <h3 class="text-center">Tile {{userCtrl.nextElement(item).name}}</h3>

          <p class="text-justify">
            {{userCtrl.nextElement(item).description}}
          </p>

          <p class="text-center">
            <button ng-really-message="This will discard your item. Are you sure?"
                    ng-really-click="userCtrl.discardItem(item)"
                    class="btn btn-sm btn-warning"
                    tooltip="Discard your item. This will make an entry in the game log">
              Discard Item
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="userCtrl.cultureCards.length > 0">
    <div class="col-xs-12">
      <button class="btn btn-info" ng-click="cultureCardsCollapse = !cultureCardsCollapse">Toggle Culture Cards</button>
      <hr>
    </div>
  </div>

  <div collapse="cultureCardsCollapse">
    <div class="row" ng-show="userCtrl.cultureCards.length > 0">
      <div class="col-xs-12">
        <button class="btn btn-danger btn-sm" ng-click="userCtrl.openModalLoot('md', 'Culture Card')">
          Loot
        </button>

        <button type="button" class="btn btn-sm btn-danger" aria-label="Right Align"
                popover-placement="right" popover="This will randomly send an item to a selected player">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div class="row padd-top-7" ng-show="userCtrl.cultureCards.length > 0">
      <div ng-repeat="item in userCtrl.cultureCards" class="thumbnail col-md-3">
        <img ng-src="/images/useritems/{{userCtrl.nextElement(item).image}}"
             tooltip="{{userCtrl.nextElement(item).name}}"/>

        <div class="caption">
          <h3 class="text-center">{{userCtrl.nextElement(item).name}}</h3>

          <p class="text-justify">
            {{userCtrl.nextElement(item).description}}
          </p>

          <p class="text-center">
            <button ng-really-message="This will discard your item. Are you sure?"
                    ng-really-click="userCtrl.discardItem(item)"
                    class="btn btn-sm btn-warning"
                    tooltip="Discard your item. This will make an entry in the game log">
              Discard Item
            </button>
            <button ng-really-message="This will reveal your unit. Are you sure?"
                    ng-really-click="userCtrl.revealItem(item)"
                    ng-disabled="userCtrl.nextElement(item).hidden == false"
                    class="btn btn-sm btn-warning"
                    tooltip="Reveal your item. This will make an entry in the game log and display hidden information">
              Reveal Item
            </button>
            <button tooltip="Send item to a player" class="btn btn-sm btn-warning"
                    ng-click="userCtrl.openModalTrade('md', userCtrl.nextElement(item))">
              Send to Player
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="userCtrl.huts.length > 0">
    <div class="col-xs-12">
      <button class="btn btn-info" ng-click="hutsCollapse = !hutsCollapse">Toggle Huts</button>
      <hr>
    </div>
  </div>

  <div class="row" ng-show="userCtrl.huts.length > 0">
    <div class="col-xs-12">
      <button class="btn btn-danger btn-sm" ng-click="userCtrl.openModalLoot('md', 'Huts')">
        Loot
      </button>

      <button type="button" class="btn btn-sm btn-danger" aria-label="Right Align"
              popover-placement="right" popover="This will randomly send an item to a selected player">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <div class="row padd-top-7" ng-show="userCtrl.huts.length > 0">
    <div collapse="hutsCollapse">
      <div ng-repeat="item in userCtrl.huts" class="thumbnail col-md-3">
        <img ng-src="/images/useritems/{{item.hut.image}}" tooltip="{{item.hut.name}}"/>

        <div class="caption">
          <h3 class="text-center">{{item.hut.name}}</h3>

          <p class="text-center">
            <button ng-really-message="This will discard your item. Are you sure?"
                    ng-really-click="userCtrl.discardItem(item)"
                    class="btn btn-sm btn-warning"
                    tooltip="Discard your item. This will make an entry in the game log">
              Discard Item
            </button>
            <button ng-really-message="This will reveal your unit. Are you sure?"
                    ng-really-click="userCtrl.revealItem(item)"
                    ng-disabled="userCtrl.nextElement(item).hidden == false"
                    class="btn btn-sm btn-warning"
                    tooltip="Reveal your item. This will make an entry in the game log and display hidden information">
              Reveal Item
            </button>
            <button tooltip="Send item to a player" class="btn btn-sm btn-warning"
                    ng-click="userCtrl.openModalTrade('md', userCtrl.nextElement(item))">
              Send to Player
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="userCtrl.villages.length > 0">
    <div class="col-xs-12">
      <button class="btn btn-info" ng-click="villagesCollapse = !villagesCollapse">Toggle Villages</button>
      <hr>
    </div>
  </div>

  <div class="row" ng-show="userCtrl.villages.length > 0">
    <div class="col-xs-12">
      <button class="btn btn-danger btn-sm" ng-click="userCtrl.openModalLoot('md', 'Villages')">
        Loot
      </button>

      <button type="button" class="btn btn-sm btn-danger" aria-label="Right Align"
              popover-placement="right" popover="This will randomly send an item to a selected player">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <div class="row padd-top-7" ng-show="userCtrl.villages.length > 0">
    <div collapse="villagesCollapse">
      <div ng-repeat="item in userCtrl.villages" class="thumbnail col-md-3">
        <img ng-src="/images/useritems/{{item.village.image}}"
             tooltip="{{item.village.name}}"/>

        <div class="caption">
          <h3 class="text-center">{{item.village.name}}</h3>

          <p class="text-center">
            <button ng-really-message="This will discard your item. Are you sure?"
                    ng-really-click="userCtrl.discardItem(item)"
                    class="btn btn-sm btn-warning"
                    tooltip="Discard your item. This will make an entry in the game log">
              Discard Item
            </button>
            <button ng-really-message="This will reveal your unit. Are you sure?"
                    ng-really-click="userCtrl.revealItem(item)"
                    ng-disabled="userCtrl.nextElement(item).hidden == false"
                    class="btn btn-sm btn-warning"
                    tooltip="Reveal your item. This will make an entry in the game log and display hidden information">
              Reveal Item
            </button>
            <button tooltip="Send item to a player" class="btn btn-sm btn-warning"
                    ng-click="userCtrl.openModalTrade('md', userCtrl.nextElement(item))">
              Send to Player
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- allAvailableTechs -->
  <div class="row">
    <div class="col-md-9">
      <table class="tech-pyramid">
        <tbody>
        <tr>
          <td class="spacer" colspan="4"></td>
          <td class="researched" colspan="2" title="Space Flight" ng-if="userCtrl.chosenTechs5.length > 0">
            Space Flight
              <span
                class="glyphicon glyphicon-remove remove red"
                aria-hidden="true"
                tooltip="This will remove your tech"
                ng-really-message="Are you sure you want to remove the tech?"
                ng-really-click="userCtrl.removeTech('Space Flight')">&nbsp;</span>
          </td>
          <td class="available" colspan="2" title="Space Flight" ng-if="userCtrl.chosenTechs5.length == 0">Space
            Flight
          </td>
          <td class="spacer"></td>
        </tr>
        <tr>
          <td class="spacer" colspan="3"></td>
          <td class="researched" colspan="2" ng-repeat="tech in userCtrl.chosenTechs4" title="{{tech.name}}">
            {{tech.name}}
              <span
                class="glyphicon glyphicon-remove remove red"
                aria-hidden="true"
                tooltip="This will remove your tech"
                ng-really-message="Are you sure you want to remove the tech?"
                ng-really-click="userCtrl.removeTech(tech.name)">&nbsp;</span>
          </td>
          <td class="available" colspan="2" title="21 trade needed to learn level 4 tech"
              ng-repeat="lvl3 in userCtrl.availableTech4">21
          </td>
          <td class="spacer"></td>
        </tr>
        <tr>
          <td class="spacer" colspan="2"></td>
          <td class="researched" colspan="2" ng-repeat="tech in userCtrl.chosenTechs3" title="{{tech.name}}">
            {{tech.name}}
              <span
                class="glyphicon glyphicon-remove remove red"
                aria-hidden="true"
                tooltip="This will remove your tech"
                ng-really-message="Are you sure you want to remove the tech?"
                ng-really-click="userCtrl.removeTech(tech.name)">&nbsp;</span>
          </td>
          <td class="available" colspan="2" title="16 trade needed to learn level 3 tech"
              ng-repeat="lvl3 in userCtrl.availableTech3">16
          </td>
          <td class="spacer"></td>
        </tr>
        <tr>
          <td class="spacer" colspan="1"></td>
          <td class="researched" colspan="2" ng-repeat="tech in userCtrl.chosenTechs2" title="{{tech.name}}">
            {{tech.name}}
              <span
                class="glyphicon glyphicon-remove remove red"
                aria-hidden="true"
                tooltip="This will remove your tech"
                ng-really-message="Are you sure you want to remove the tech?"
                ng-really-click="userCtrl.removeTech(tech.name)">&nbsp;</span>
          </td>
          <td class="available" colspan="2" title="11 trade needed to learn level 2 tech"
              ng-repeat="lvl2 in userCtrl.availableTech2">11
          </td>
          <td class="spacer"></td>
        </tr>
        <tr>
          <td class="researched" colspan="2" ng-repeat="tech in userCtrl.chosenTechs1" title="{{tech.name}}">
            {{tech.name}}
              <span
                class="glyphicon glyphicon-remove remove red"
                aria-hidden="true"
                tooltip="This will remove your tech"
                ng-really-message="Are you sure you want to remove the tech?"
                ng-really-click="userCtrl.removeTech(tech.name)">&nbsp;</span>
          </td>
          <td class="available" colspan="2" title="6 trade needed to learn level 1 tech"
              ng-repeat="lvl1 in userCtrl.availableTech1">6
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3" ng-if="currentGame.whosTurnIsIt">
      <div class="input-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title panel-primary">
              Choose tech
            </h3>
          </div>
          <div class="panel-body">
            <ol class="nya-bs-select" ng-model="selectedTech.tech" data-live-search="true">
              <li nya-bs-option="tech in userCtrl.allAvailableTechs group by tech.tech.level">
                <span class="dropdown-header">Level {{$group}}</span>
                <a>
                  <span>{{tech.tech.name}}</span>
                </a>
              </li>
            </ol>
            <div class="form-group">
              <input type="button"
                     ng-really-message="Are you sure you want to select tech?"
                     ng-really-click="userCtrl.selectTech()"
                     class="btn btn-danger form-control"
                     ng-disabled="selectedTech.tech == null"
                     value="Select Tech"
                />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for trading -->
<script type="text/ng-template" id="modalTrade.html">
  <div class="modal-header">
    <h3 class="modal-title">Choose player to send <span><i>{{tradeCtrl.item.name}}</i></span> too!</h3>
  </div>
  <div class="modal-body">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="player in tradeCtrl.players" ng-class="tradeCtrl.playerTradeChosen === player ? 'active' : ''"
          role="presentation"><a ng-href="" ng-click="tradeCtrl.playerTradeChosen = player">{{player.username}}</a></li>
    </ul>
    <p>
    <h4>Player chosen: <span class="label label-default" style="font-size: 1.2em;">{{tradeCtrl.playerTradeChosen.username}}</span>
    </h4>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!tradeCtrl.playerTradeChosen" ng-click="tradeCtrl.ok()">Ok</button>
    <button class="btn btn-warning" ng-click="tradeCtrl.cancel()">Cancel</button>
  </div>
</script>

<!-- Modal for loot -->
<script type="text/ng-template" id="modalLoot.html">
  <div class="modal-header">
    <h3 class="modal-title">Choose player that will loot a randomly selected <span><i>{{lootCtrl.sheetName}}</i></span> from you!</h3>
  </div>
  <div class="modal-body">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="player in lootCtrl.players" ng-class="lootCtrl.playerLootChosen === player ? 'active' : ''"
          role="presentation"><a ng-href="" ng-click="lootCtrl.playerLootChosen = player">{{player.username}}</a></li>
    </ul>
    <p>
    <h4>Player chosen: <span class="label label-default" style="font-size: 1.2em;">{{lootCtrl.playerLootChosen.username}}</span>
    </h4>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!lootCtrl.playerLootChosen" ng-click="lootCtrl.ok()">Ok</button>
    <button class="btn btn-warning" ng-click="lootCtrl.cancel()">Cancel</button>
  </div>
</script>
