<div ng-controller="GameController as gameCtrl">
  <div class="row">
    <div ng-class="userHasAccess ? 'col-md-6' : 'col-md-12'">
      <div class="jumbotron">
        <h1>{{gameCtrl.game.name}}</h1>

        <p class="lead">{{gameCtrl.game.type}} - Created: {{gameCtrl.game.created | date:'dd-MM-yyyy'}}</p>

        <p><a ng-href class="btn btn-primary btn-lg" role="button">{{gameCtrl.game.whosTurnIsIt}}</a> to play</p>
      </div>
    </div>
    <div class="col-md-6" ng-if="userHasAccess">
      <div class="jumbotron">
        <h1>Perhaps something here??</h1>

        <p>
          <button ng-show="gameCtrl.yourTurn"
                  role="button"
                  ng-really-message="This will end your turn. You cannot make any more draws when it is not your turn. Are you sure?"
                  ng-really-click="gameCtrl.endTurn()"
                  class="btn btn-primary btn-lg"
                  tooltip="Will end your turn">
            End turn
          </button>
        <h3>Write message/chat</h3>

        <p class="lead" ng-show="gameCtrl.yourTurn">Its your turn</p>
      </div>
    </div>
  </div>

  <div class="row"></div>

  <tabset justified="false">
    <tab heading="Gamelog" class="col-md-3">
      <table ng-table="gameCtrl.tableParams" ng-show="$data.length > 0"
             class="table table-bordered table-hover table-condensed text-center table-responsive">

        <tr ng-repeat="log in $data" class="active" ng-class-even="'row-even'" ng-class-odd="'row-odd'">
          <td data-title="'Date'" sortable="'created'">{{log.created | date:'dd-MM-yyyy HH:mm:ss'}}</td>
          <td data-title="'Log'" sortable="'log'">{{log.log}}</td>
          <td data-title="'Vote for undo'" sortable="'log.draw'">
            <button ng-if="gameCtrl.hasDraw(log)" ng-really-message="This will initiate vote for Undo. Are you sure?"
                    ng-really-click="gameCtrl.initiateUndo(log.id)"
                    class="btn btn-sm btn-warning" tooltip="Press undo button to request a vote for undo. All players must vote yes for undo to be made.
                  Once all players have voted yes, the item will be put back in the deck and reshuffled">Undo
            </button>
          </td>
        </tr>
      </table>
    </tab>
    <tab heading="The current map" class="col-md-3">
      <h1>For now, we will use the forum to upload maps</h1>
    </tab>
    <tab heading="Chat" class="col-md-3">
      <h1>For now, we will use the forum for table talk</h1>
    </tab>
    <tab ng-if="userHasAccess" heading="User stuff" class="col-md-3">
      <ng-include src="'views/useritems.html'"></ng-include>
    </tab>
  </tabset>

  <!--<div class="row">json '{{gameCtrl.game | json}}'</div>-->

</div>
