<div class="container-fluid" ng-controller="GameController as gameCtrl">

  <div class="jumbotron">
    <h1>{{gameCtrl.game.name}}</h1>
    <p class="lead">{{gameCtrl.game.type}}</p>
    <p class="lead">Created: {{gameCtrl.game.created | date:'dd-MM-yyyy'}}</p>
  </div>

  <div class="table-responsive">
    <caption>Gamelog</caption>
    <table ng-table="gameCtrl.tableParams" class="table table-bordered table-hover table-condensed text-center">
      <!--<thead>
      <tr>
        <th>Date</th>
        <th>Log</th>
      </tr>
      </thead>
-->
      <!--<tbody>-->
        <tr ng-repeat="log in $data" class="active" ng-class-even="'row-even'" ng-class-odd="'row-odd'">
          <td data-title="'Date'" sortable="'created'">{{log.created | date:'dd-MM-yyyy HH:mm:ss'}}</td>
          <td data-title="'Log'" sortable="'log'">{{log.log}}</td>
        </tr>
      <!--</tbody>-->
    </table>
  </div>

  <div>json '{{gameCtrl.game | json}}'</div>


</div>
