<div class="container-fluid">
  <div class="jumbotron">
    <h1>Welcome to Civilization Play By Forum Randomizer</h1>

    <p class="lead">
      This site is useful for Play By Forum games, where you need a moderator to play a game.
      It cuts out the "middleman", and lets you play without the need of a moderator.
    </p>
  </div>

  <tabset justified="true" type="pills">
    <tab heading="Active Games" class="col-xs-6">
      <div class="table-responsive padd-top-7">
        <input type="text" ng-model="filterContent" alt="Filter the table" placeholder="Search games"/>
        <label> <input type="checkbox" ng-model="onlyMyGames.value" ng-click="gameListCtrl.showMyGames()"> Show my games</label>

        <button class="btn btn-lg btn-success pull-right" ng-click="gameListCtrl.openCreateNewGame('md')" ng-show="gameListCtrl.user.loggedIn">Create New Game</button>
        <table class="table table-striped table-hover table-condensed">
          <thead>
          <tr>
            <th>#</th>
            <th>Created</th>
            <th>Name</th>
            <th>Type</th>
            <th>Number of players</th>
            <th>Players</th>
            <th>Active</th>
            <th>Action</th>
          </tr>
          </thead>

          <tbody>
          <!-- Games that are not active anymore should have a light grey background -->
          <tr ng-repeat="game in gameListCtrl.games | filter: filterContent" class="{{game.active ? 'active' : ''}} fadeIn"
              ng-class-even="'row-even'" ng-class-odd="'row-odd'">
            <td>{{$index+1}}</td>
            <td>{{game.created | date}}</td>
            <td><a ng-href="#/game/{{game.id}}">{{game.name}}</a></td>
            <td>{{game.type }}</td>
            <td>{{game.numOfPlayers}}</td>
            <td>
            <span ng-repeat="player in game.players">
                {{player.username}}<br/>
            </span>
            </td>
            <td>{{game.active ? 'Active' : 'Finished'}}</td>
            <td>
              <a ng-href="#/game/{{game.id}}" id="btnJoinGame" ng-if="(game.numOfPlayers > game.players.length) && gameListCtrl.user.loggedIn && !gameListCtrl.isUserPlaying(game.players)"
                 type="button"
                 class="btn btn-info" ng-click="gameListCtrl.joinGame(game)">
                Join
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </tab>

    <tab heading="Finished Games" class="col-md-6">
      <div class="table-responsive padd-top-7">
        <table class="table table-striped table-hover table-condensed">
          <thead>
          <tr>
            <th>#</th>
            <th>Created</th>
            <th>Name</th>
            <th>Type</th>
            <th>Number of players</th>
            <th>Players</th>
            <th>Active</th>
          </tr>
          </thead>

          <tbody>
          <tr ng-repeat="game in gameListCtrl.finishedGames" ng-class-even="'row-even'" ng-class-odd="'row-odd'">
            <td>{{$index+1}}</td>
            <td>{{game.created | date}}</td>
            <td><a ng-href="#/game/{{game.id}}">{{game.name}}</a></td>
            <td>{{game.type }}</td>
            <td>{{game.numOfPlayers}}</td>
            <td>
            <span ng-repeat="player in game.players">
                {{player.username}}<br/>
            </span>
            </td>
            <td>Finished</td>
          </tr>
          </tbody>
        </table>
      </div>
    </tab>
  </tabset>

</div>

<!-- Modal for create game -->
<script type="text/ng-template" id="createNewGame.html">
  <div class="modal-header">
    <h3 class="modal-title">Create New Game</h3>
  </div>
  <form name="form" method="post" novalidate="novalidate">
    <div class="modal-body">
      <div class="form-group has-feedback" ng-class="form.gamename.$invalid && form.gamename.$dirty ? 'has-error' : ''">
        <label for="gamename" class="control-label">Name</label>
        <input type="text" name="gamename" id="gamename" placeholder="Name of game"
               aria-describedby="gamenameStatus" aria-hidden="true"
               unique-gamename="unique-gamename" required="required" ng-model="registerCtrl.gamename"
               autofocus class="form-control" minlength="3" ng-minlength="3"/>
        <span ng-show="busy" class="glyphicon glyphicon-refresh rotateIn form-control-feedback" aria-hidden="true"></span>
        <div ng-if="form.gamename.$dirty" id="gamenameStatus" ng-messages="form.gamename.$error">
          <div ng-message="required" class="help-block has-error">Name is required</div>
          <div ng-message="isTaken" class="help-block has-error">Name already taken</div>
          <div ng-message="invalidChars" class="help-block has-error">Name may not contain any non-url-safe characters</div>
          <div ng-message="minlength" class="help-block has-error">Name must be 3 or more characters</div>
        </div>
      </div>

      <div class="form-group has-feedback" ng-class="form.type.$invalid && form.type.$dirty  ? 'has-error' : ''">
        <label for="type" class="control-label">Type</label>
        <select ng-model="registerCtrl.selectedGametype" id="type" name="type" required="required" class="form-control"
                ng-options="opt as opt.label for opt in registerCtrl.gameTypes">
        </select>
        <span id="typeStatus" ng-if="form.type.$dirty &amp;&amp; form.type.$invalid" class="help-block has-error">Type is required</span>
        <span id="helpBlock" class="help-block">For now we only support Wisdom & Warfare and Fame and Fortune expansion packs.</span>
      </div>

      <div class="form-group" ng-class="form.numOfPlayers.$invalid && form.numOfPlayers.$dirty ? 'has-error' : ''">
        <label for="numOfPlayers" class="control-label">Number of Players</label>
        <input type="number" name="numOfPlayers" id="numOfPlayers" ng-model="registerCtrl.numOfPlayers" placeholder="Number of Players" value="4"
               required="required" class="form-control" min="2" max="5" />
        <span ng-if="form.numOfPlayers.$dirty &amp;&amp; form.numOfPlayers.$error.required" class="help-block has-error">Enter number of players</span>
      </div>

      <div class="form-group has-feedback" ng-class="form.color.$invalid && form.color.$dirty  ? 'has-error' : ''">
        <label for="color" class="control-label">Color</label>
        <ol class="nya-bs-select form-control" ng-model="registerCtrl.color" required="required" id="color">
          <li value="Blue" class="nya-bs-option">
            <a style="color: #0000ff">
              Blue
            </a>
          </li>
          <li value="Red" class="nya-bs-option">
            <a style="color: red">
              Red
            </a>
          </li>
          <li value="Purple" class="nya-bs-option">
            <a style="color: #800080">
              Purple
            </a>
          </li>
          <li value="Yellow" class="nya-bs-option">
            <a style="color: #ffff00">
              Yellow
            </a>
          </li>
          <li value="Green" class="nya-bs-option">
            <a style="color: #008000">
              Green
            </a>
          </li>
        </ol>
        <span id="colorStatus" ng-if="form.color.$dirty &amp;&amp; form.color.$invalid" class="help-block has-error">Color is required</span>
      </div>
    </div> <!-- modal body -->
    <div class="modal-footer">
      <input type="submit" ng-click="createGameOk()" value="Create new game" ng-disabled="form.$invalid"
             class="btn btn-primary"/>
      <button ng-click="registerCancel()" class="btn btn-warning">Cancel</button>
    </div>
  </form>
</script>
