<div class="table-responsive" ng-controller="GameListController as gameListCtrl">

  <input type="text" ng-model="filterContent" alt="Filter the table" placeholder="Filter games"/>
  <table class="table table-striped table-hover table-condensed text-center">
    <thead>
    <tr>
      <th>#</th>
      <th>Created</th>
      <th>Name</th>
      <th>Type</th>
      <th>Number of players</th>
      <th>Players</th>
      <th>Active</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="game in gameListCtrl.games | filter: filterContent" class="{{game.active ? 'active' : ''}}">
      <td>{{$index+1}}</td>
      <td>{{game.created | date}}</td>
      <td><a ng-href="/game/{{game.id}}">{{game.name}}</a></td>
      <td>{{game.type }}</td>
      <td>{{game.numOfPlayers}}</td>
      <td>
            <span ng-repeat="player in game.players">
                {{player.username}}<br/>
            </span>
      </td>
      <td>{{game.active ? 'Active' : 'Finished'}}</td>
      <td>
        <!-- TODO Also add the logged in check -->
        <button id="btnJoinGame" ng-if="game.numOfPlayers < game.players.length" type="button"
                class="btn btn-success">
          Join
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <p>json {{gameListCtrl.games | json}}!</p>

</div>
