<nav class="navbar navbar-inverse" role="navigation" ng-controller="NavController as navCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/" ng-click="navCtrl.clearOptions()">Civilization Play By Forum</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/help">Help <span class="glyphicon glyphicon-question-sign"></span></a></li>
      <li><a href="#/about">About <span class="glyphicon glyphicon-info-sign"></span></a></li>

      <li ng-if="navCtrl.GameOption.value.show" dropdown>
          <a href class="dropdown-toggle" dropdown-toggle>
            Game Options <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#/endgame"
                   ng-really-message="This will withdraw you from the current game. Are you sure?"
                   ng-really-click="navCtrl.withdrawGame()">Withdraw from Game</a></li>
            <li ng-if="navCtrl.GameOption.value.showEndGame">
              <a href="#/endgame"
                 ng-really-message="This will end the current game. This cannot be undone! Are you sure?"
                 ng-really-click="navCtrl.endGame()"
                 ng-click="navCtrl.endGame()">End Game</a></li>
          </ul>
      </li>

    </ul>
    <div class="padd-right-5">
      <div ng-show="navCtrl.user.loggedIn" class="navbar-text navbar-right">
        <span class="padd-right-5">Hello {{ navCtrl.user.username }}!</span>
        <a href="#/logout" class="btn btn-default btn-sm" ng-click="navCtrl.signOut()">Sign Out</a>
      </div>
      <form ng-if="!navCtrl.user.loggedIn" name="loginForm" class="navbar-form navbar-right"
            ng-submit="navCtrl.login(loginForm)" novalidate>
        <div class="form-group">
          <input name="username" type="text" placeholder="Username" ng-model="navCtrl.username" required/>
        </div>
        <div class="form-group">
          <input name="password" type="password" placeholder="Password" ng-model="navCtrl.password" required/>
        </div>
        <input class="btn btn-default btn-sm" type="submit" value="Login">
        <input class="btn btn-default btn-sm" type="button" value="Sign up" ng-click="navCtrl.openSignup('md')"/>
      </form>
    </div>
  </div> <!-- /container-fluid-->
</nav>


<!-- Modal for signup -->
<script type="text/ng-template" id="signup.html">
  <div class="modal-header">
    <h3 class="modal-title">Sign up</h3>
  </div>
  <form name="form" method="post" novalidate="novalidate">
    <div class="modal-body">
      <div class="form-group has-feedback" ng-class="form.registerUsername.$invalid && form.registerUsername.$dirty ? 'has-error' : ''">
        <label for="registerUsername" class="control-label">Username</label>
        <input type="text" name="registerUsername" id="registerUsername" placeholder="Username"
               aria-describedby="registerUsernameStatus" aria-hidden="true"
               unique-username="unique-username" required="required" ng-model="registerCtrl.registerUsername"
               autofocus class="form-control" minlength="3" ng-minlength="3"/>
        <span ng-show="busy" class="glyphicon glyphicon-refresh rotateIn form-control-feedback" aria-hidden="true"></span>
        <div ng-if="form.registerUsername.$dirty" id="registerUsernameStatus" ng-messages="form.registerUsername.$error">
          <div ng-message="required" class="help-block has-error">Username is required</div>
          <div ng-message="isTaken" class="help-block has-error">Username already taken</div>
          <div ng-message="invalidChars" class="help-block has-error">Username may not contain any non-url-safe characters</div>
          <div ng-message="minlength" class="help-block has-error">Username must be 3 or more characters</div>
        </div>
      </div>

      <div class="form-group has-feedback" ng-class="form.email.$invalid && form.email.$dirty  ? 'has-error' : ''">
        <label for="email" class="control-label">Email</label>
        <input type="email" ng-model="registerCtrl.registerEmail" name="email" id="email" placeholder="Email"
               aria-describedby="registerEmailStatus" aria-hidden="true" ng-pattern="/\S+@\S+\.\S+/" pattern="/\S+@\S+\.\S+/"
               required="required" class="form-control"/>
        <span id="registerEmailStatus" ng-if="form.email.$dirty &amp;&amp; form.email.$invalid" class="help-block has-error">Email is invalid</span>
      </div>

      <div class="form-group" ng-class="form.registerPassword.$invalid && form.registerPassword.$dirty ? 'has-error' : ''">
        <label for="registerPassword" class="control-label">Password</label>
        <input type="password" name="registerPassword" id="registerPassword" ng-model="password"
               required="required" match="verification" class="form-control"/>
        <span ng-if="form.registerPassword.$dirty &amp;&amp; form.registerPassword.$error.required" class="help-block has-error">Please enter a password</span>
      </div>

      <div class="form-group" ng-class="form.verification.$invalid  && form.verification.$dirty ? 'has-error' : ''">
        <label for="verification" class="control-label">Repeat password</label>
        <input type="password" name="verification" id="verification" ng-model="verification"
               required="required" match="password" class="form-control" aria-describedby="registerVerificationStatus" />
        <div ng-if="form.verification.$dirty" id="registerVerificationStatus" ng-messages="form.verification.$error">
          <div ng-message="required" class="help-block has-error">Please repeat your password</div>
          <div ng-message="match" class="help-block has-error">Password don't match</div>
        </div>
      </div>

      <div class="form-group" ng-class="form.securityQuestion.$invalid  && form.securityQuestion.$dirty ? 'has-error' : ''">
        <label for="verification" class="control-label">Security Question: What is China's starting tech?</label>
        <input type="text" name="securityQuestion" id="securityQuestion" ng-model="securityQuestion" pattern="[wW][rR][iI][tT][iI][nN][gG]" ng-pattern="/[wW][rR][iI][tT][iI][nN][gG]/"
               required="required" class="form-control" aria-describedby="registersecurityQuestionStatus" />
        <div ng-if="form.securityQuestion.$dirty" id="registersecurityQuestionStatus" ng-messages="form.securityQuestion.$error">
          <div ng-message="required" class="help-block has-error">Security Question is required</div>
          <div ng-message="match" class="help-block has-error">Wrong answer</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input type="submit" ng-click="registerOk()" value="Sign up" ng-disabled="form.$invalid"
             class="btn btn-primary"/>
      <button ng-click="registerCancel()" class="btn btn-warning">Cancel</button>
    </div>
  </form>
</script>
