<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Civilization Play By Forum</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/help">Help <span class="glyphicon glyphicon-question-sign"></span></a></li>
      <li><a href="#/about">About <span class="glyphicon glyphicon-info-sign"></span></a></li>
    </ul>
    <div ng-controller="LoginController as login" class="padd-right-5">
      <div ng-show="login.user.loggedIn" class="navbar-text navbar-right">
        <span class="padd-right-5">Hello {{ login.user.username }}!</span>
        <a href="#/logout" class="btn btn-default btn-sm" ng-click="login.signOut()">Sign Out</a>
      </div>
      <form ng-if="!login.user.loggedIn" name="loginForm" class="navbar-form navbar-right"
            ng-submit="login.login(loginForm)" novalidate>
        <div class="form-group">
          <input name="username" type="text" placeholder="Username" ng-model="login.username" required/>
        </div>
        <div class="form-group">
          <input name="password" type="password" placeholder="Password" ng-model="login.password" required/>
        </div>
        <input class="btn btn-default btn-sm" type="submit" value="Login"/>
        <input class="btn btn-default btn-sm" type="button" value="Register"/>
      </form>
    </div>
    <!-- TODO implement register -->
  </div>

</nav>
