<div ng-controller="UserItemController as userCtrl">
  <div class="row padd-top-7">

    <div class="col-lg-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title panel-primary">
            <button class="btn btn-info" ng-click="privateLogCollapse = !privateLogCollapse">Toggle Private log</button>
          </h3>
        </div>
        <div class="panel-body" collapse="privateLogCollapse">
          <table ng-table="userCtrl.tablePrivateLog" ng-show="$data.length > 0"
                 class="table table-bordered table-hover table-condensed text-center table-responsive">
            <tr ng-repeat="log in $data" class="active" ng-class-even="'row-even'" ng-class-odd="'row-odd'">
              <td data-title="'Date'" sortable="'created'">{{log.created | date:'dd-MM-yyyy HH:mm:ss'}}</td>
              <td data-title="'Log'" sortable="'log'">{{log.log}}</td>
              <td data-title="'Action'">
                <button ng-if="canInitiateUndo(log)"
                        ng-really-message="This will initiate vote for Undo. Are you sure?"
                        ng-really-click="initiateUndo(log.id)"
                        class="btn btn-sm btn-warning" tooltip="Press undo button to request a vote for undo. All players must vote yes for undo to be made.
                    Once all players have voted yes, the item will be put back in the deck and reshuffled">
                  Undo
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-5" ng-if="gameCtrl.yourTurn">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Draw items</h3>
        </div>
        <div class="panel-body">
          <div class="form-group input-group btn-group" dropdown>
            <button type="button" class="btn btn-danger dropdown-toggle form-control" dropdown-toggle>
              Choose Item to Draw <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="itemToDraw = 'CIV'" tooltip="Draw a civilization, for instance America">Civs</a></li>
              <li class="divider"></li>
              <li><a ng-click="itemToDraw = 'Culture I'">Culture I</a></li>
              <li><a ng-click="itemToDraw = 'Culture II'">Culture II</a></li>
              <li><a ng-click="itemToDraw = 'Culture III'">Culture III</a></li>
              <li class="divider"></li>
              <li><a ng-click="itemToDraw = 'Infantry'">Infantry</a></li>
              <li><a ng-click="itemToDraw = 'Artillery'">Artillery</a></li>
              <li><a ng-click="itemToDraw = 'Mounted'">Mounted</a></li>
              <li><a ng-click="itemToDraw = 'Aircraft'">Aircraft</a></li>
              <li class="divider"></li>
              <li><a ng-click="itemToDraw = 'Huts'">Hut</a></li>
              <li><a ng-click="itemToDraw = 'Villages'">Village</a></li>
              <li class="divider"></li>
              <li><a ng-click="itemToDraw = 'Great Person'">Great Person</a></li>
              <li><a ng-click="itemToDraw = 'Tiles'">Tile</a></li>
              <li><a ng-click="itemToDraw = 'Wonders'">Wonder</a></li>
              <li><a ng-click="itemToDraw = 'City-States'">City-State</a></li>
            </ul>
          </div>

          <div class="form-group">
            <input type="text" disabled ng-model="itemToDraw" placeholder="Item to draw"/>
            <input type="button"
                   ng-really-message="Are you sure you want to make a draw?"
                   ng-really-click="userCtrl.drawItem(itemToDraw)"
                   class="btn btn-danger"
                   ng-disabled="itemToDraw == null"
                   value="Draw Item"
              />
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="padd-top-7">
      <div class="col-sm-4">
        <button class="btn btn-info" ng-click="itemCollapse = !itemCollapse">Toggle Items</button>
        <hr>
        <div collapse="itemCollapse">
          <div class="well well-lg">
            <ul class="list-unstyled">
              <li ng-repeat="item in userCtrl.items">
                <p class="text-justify">
                  <span><strong>{{userCtrl.nextElement(item).sheetName}}:</strong></span><br/>
                  <span><i>{{userCtrl.nextElement(item).name}}</i></span>
                </p>

                <p>
                  <button ng-really-message="This will discard your item. Are you sure?"
                          ng-really-click="userCtrl.discardItem(item)"
                          class="btn btn-sm btn-warning"
                          tooltip="Discard your item. This will make an entry in the game log">
                    Discard Item
                  </button>
                  <button ng-really-message="This will reveal your item. Are you sure?"
                          ng-really-click="userCtrl.revealItem(item)"
                          ng-disabled="userCtrl.nextElement(item).hidden == false"
                          class="btn btn-sm btn-warning"
                          tooltip="Reveal your item. This will make an entry in the game log and display hidden information">
                    Reveal Item
                  </button>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-info" ng-click="gpCollapse = !gpCollapse ">Toggle Great Persons</button>
        <hr>
        <div collapse="gpCollapse">
          <div ng-repeat="item in userCtrl.greatPersons" class="thumbnail" ng-show="userCtrl.greatPersons"
               ng-show="userCtrl.greatPersons">
            <img ng-src="/images/useritems/{{item.greatperson.image}}" tooltip="{{item.greatperson.name}}"/>

            <div class="caption">
              <h3 class="text-center">{{item.greatperson.name}}</h3>

              <p class="text-justify">
                {{item.greatperson.description}}
              </p>

              <p>
                <button ng-really-message="This will discard your item. Are you sure?"
                        ng-really-click="userCtrl.discardItem(item)"
                        class="btn btn-sm btn-warning"
                        tooltip="Discard your item. This will make an entry in the game log">
                  Discard Item
                </button>
                <button ng-really-message="This will reveal your item. Are you sure?"
                        ng-really-click="userCtrl.revealItem(item)"
                        ng-disabled="item.greatperson.hidden == false"
                        class="btn btn-sm btn-warning"
                        tooltip="Reveal your item. This will make an entry in the game log and display hidden information">
                  Reveal Item
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-info" ng-click="unitCollapse = !unitCollapse">Toggle All Units</button>
        <hr>
        <!-- TODO Doesn't quite work -->
        <!--<carousel interval="0">
          <slide ng-repeat="item in userCtrl.units">
            <img ng-src="/images/useritems/{{userCtrl.nextElement(item).image}}"
                 tooltip="{{userCtrl.nextElement(item).name}}"/>

            <div class="carousel-caption">
              <h3 class="text-center">{{userCtrl.nextElement(item).name}}</h3>
              <h4>Unit {{$index+1}} of {{userCtrl.units.length}}</h4>

              <p>
                <button ng-really-message="This will discard your item. Are you sure?"
                        ng-really-click="userCtrl.discardItem(item)"
                        class="btn btn-sm btn-warning"
                        tooltip="Discard your item. This will make an entry in the game log">
                  Discard Unit
                </button>
                <button ng-really-message="This will reveal your unit. Are you sure?"
                        ng-really-click="userCtrl.revealItem(item)"
                        ng-disabled="userCtrl.nextElement(item).hidden == false"
                        class="btn btn-sm btn-warning"
                        tooltip="Reveal your item. This will make an entry in the game log and display hidden information">
                  Reveal Unit
                </button>
              </p>
            </div>
          </slide>
        </carousel>-->
        <div collapse="unitCollapse" class="padd-top-7">
          <div ng-repeat="item in userCtrl.units" class="thumbnail" ng-show="userCtrl.units">
            <img ng-src="/images/useritems/{{userCtrl.nextElement(item).image}}"
                 tooltip="{{userCtrl.nextElement(item).name}}"/>

            <div class="caption">
              <h3 class="text-center">{{userCtrl.nextElement(item).name}}</h3>

              <p>
                <button ng-really-message="This will discard your item. Are you sure?"
                        ng-really-click="userCtrl.discardItem(item)"
                        class="btn btn-sm btn-warning"
                        tooltip="Discard your item. This will make an entry in the game log">
                  Discard Unit
                </button>
                <button ng-really-message="This will reveal your unit. Are you sure?"
                        ng-really-click="userCtrl.revealItem(item)"
                        ng-disabled="userCtrl.nextElement(item).hidden == false"
                        class="btn btn-sm btn-warning"
                        tooltip="Reveal your item. This will make an entry in the game log and display hidden information">
                  Reveal Unit
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-info" ng-click="cultureCardsCollapse = !cultureCardsCollapse">Toggle Culture Cards</button>
      <hr>
      <div collapse="cultureCardsCollapse">
        <div ng-repeat="item in userCtrl.cultureCards" class="thumbnail" ng-show="userCtrl.cultureCards">
          <img ng-src="/images/useritems/{{userCtrl.nextElement(item).image}}"
               tooltip="{{userCtrl.nextElement(item).name}}"/>

          <div class="caption">
            <h3 class="text-center">{{userCtrl.nextElement(item).name}}</h3>

            <p class="text-justify">
              {{userCtrl.nextElement(item).description}}
            </p>

            <p>
              <button ng-really-message="This will discard your item. Are you sure?"
                      ng-really-click="userCtrl.discardItem(item)"
                      class="btn btn-sm btn-warning"
                      tooltip="Discard your item. This will make an entry in the game log">
                Discard Item
              </button>
              <button ng-really-message="This will reveal your unit. Are you sure?"
                      ng-really-click="userCtrl.revealItem(item)"
                      ng-disabled="userCtrl.nextElement(item).hidden == false"
                      class="btn btn-sm btn-warning"
                      tooltip="Reveal your item. This will make an entry in the game log and display hidden information">
                Reveal Item
              </button>
              <button tooltip="TODO" class="btn btn-sm btn-warning" disabled>
                Send to Player
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-info" ng-click="hutsCollapse = !hutsCollapse">Toggle Huts</button>
      <hr>
      <div collapse="hutsCollapse">
        <div ng-repeat="item in userCtrl.huts" class="thumbnail" ng-show="userCtrl.huts">
          <img ng-src="/images/useritems/{{item.hut.image}}" tooltip="{{item.hut.name}}"/>

          <div class="caption">
            <h3 class="text-center">{{item.hut.name}}</h3>

            <p>
              <button ng-really-message="This will discard your item. Are you sure?"
                      ng-really-click="userCtrl.discardItem(item)"
                      class="btn btn-sm btn-warning"
                      tooltip="Discard your item. This will make an entry in the game log">
                Discard Item
              </button>
              <button ng-really-message="This will reveal your unit. Are you sure?"
                      ng-really-click="userCtrl.revealItem(item)"
                      ng-disabled="userCtrl.nextElement(item).hidden == false"
                      class="btn btn-sm btn-warning"
                      tooltip="Reveal your item. This will make an entry in the game log and display hidden information">
                Reveal Item
              </button>
              <button tooltip="TODO" class="btn btn-sm btn-warning" disabled>
                Send to Player
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-info" ng-click="villagesCollapse = !villagesCollapse">Toggle Villages</button>
      <hr>
      <div collapse="villagesCollapse">
        <div ng-repeat="item in userCtrl.villages" class="thumbnail" ng-show="userCtrl.villages">
          <img ng-src="/images/useritems/{{item.village.image}}"
               tooltip="{{item.village.name}}"/>

          <div class="caption">
            <h3 class="text-center">{{item.village.name}}</h3>

            <p>
              <button ng-really-message="This will discard your item. Are you sure?"
                      ng-really-click="userCtrl.discardItem(item)"
                      class="btn btn-sm btn-warning"
                      tooltip="Discard your item. This will make an entry in the game log">
                Discard Item
              </button>
              <button ng-really-message="This will reveal your unit. Are you sure?"
                      ng-really-click="userCtrl.revealItem(item)"
                      ng-disabled="userCtrl.nextElement(item).hidden == false"
                      class="btn btn-sm btn-warning"
                      tooltip="Reveal your item. This will make an entry in the game log and display hidden information">
                Reveal Item
              </button>
              <button tooltip="TODO" class="btn btn-sm btn-warning" disabled>
                Send to Player
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- allAvailableTechs -->
  <div class="row">
    <hr/>
    <h2>Your Techs</h2>

    <div class="well well-lg col-lg-8">
      List of all the techs chosen
      <ul>
        <li ng-repeat="tech in userCtrl.chosenTechs | filter: tech.tech.level == 1">
          Name {{tech.tech.name}}
        </li>
      </ul>

      <ul>
        <li ng-repeat="tech in userCtrl.chosenTechs | filter: tech.tech.level == 2">
          Name {{tech.tech.name}}
        </li>
      </ul>

      <ul>
        <li ng-repeat="tech in userCtrl.chosenTechs | filter: tech.tech.level == 3">
          Name {{tech.tech.name}}
        </li>
      </ul>

      <ul>
        <li ng-repeat="tech in userCtrl.chosenTechs | filter: tech.tech.level == 5">
          Name {{tech.tech.name}}
        </li>
      </ul>

    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title panel-primary">
              Choose tech
            </h3>
          </div>
          <div class="panel-body">
            <ol class="nya-bs-select" ng-model="selectedTech" data-live-search="true">
              <li nya-bs-option="tech in userCtrl.allAvailableTechs group by tech.tech.level">
                <span class="dropdown-header">Level {{$group}}</span>
                <a>
                  <span>{{tech.tech.name}}</span>
                </a>
              </li>
            </ol>
            <div class="form-group">
              <input type="button"
                     ng-really-message="Are you sure you want to select tech?"
                     ng-really-click="userCtrl.selectTech()"
                     class="btn btn-danger form-control"
                     ng-disabled="selectedTech == null"
                     value="Select Tech"
                />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
