<div ng-controller="UserItemController as userCtrl">
  <div class="row padd-top-7">

    <div class="col-md-4">
      <button class="btn btn-info" ng-click="privateLogCollapse = !privateLogCollapse">Toggle Private log</button>
      <hr>
      <div collapse="privateLogCollapse">
        <table ng-table="userCtrl.tablePrivateLog" ng-show="$data.length > 0"
               class="table table-bordered table-hover table-condensed text-center table-responsive">
          <tr ng-repeat="log in $data" class="active" ng-class-even="'row-even'" ng-class-odd="'row-odd'">
            <td data-title="'Date'" sortable="'created'">{{log.created | date:'dd-MM-yyyy HH:mm:ss'}}</td>
            <td data-title="'Log'" sortable="'log'">{{log.log}}</td>

            <td data-title="'Reveal'">
              <button ng-if="userCtrl.nextElement(log.draw.item).hidden"
                      ng-really-message="This will reveal your item. Are you sure?"
                      ng-really-click="userCtrl.revealItem(log.id)"
                      class="btn btn-sm btn-warning"
                      tooltip="Reveal your item. This will make an entry in the game log">
                Reveal Item
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div ng-if="gameCtrl.yourTurn" class="col-md-8">
      <h2>Choose item to draw</h2>

      <div class="btn-group" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
          Button dropdown <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row padd-top-7">
    <div class="col-md-2">
      <button class="btn btn-info" ng-click="itemCollapse = !itemCollapse">Toggle Items</button>
      <hr>
      <div collapse="itemCollapse">
        <div class="well well-lg">
          <ul>
            <li ng-repeat="item in userCtrl.items" class="unstyled">
              {{userCtrl.itemDetail(item)}}
              <ul>
                <li>
                  <button ng-really-message="This will discard your item. Are you sure?"
                          ng-really-click="userCtrl.discardItem(item)"
                          class="btn btn-sm btn-warning"
                          tooltip="Discard your item. This will make an entry in the game log">
                    Discard Item
                  </button>
                </li>
                <li>
                  <button class="btn btn-sm btn-warning" disabled>
                    Send to Player
                  </button>
                </li>
                <li>
                  <button class="btn btn-sm btn-warning" disabled>
                    Reveal Item
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <button class="btn btn-info" ng-click="civCollapse = !civCollapse">Toggle CIV</button>
      <hr>
      <div collapse="civCollapse">
        <div class="well well-lg" ng-show="userCtrl.civs">
          <ul>
            <li ng-repeat="item in userCtrl.civs">{{item.civ.name}}
              <ul>
                <li>
                  <button ng-really-message="This will discard your item. Are you sure?"
                          ng-really-click="userCtrl.discardItem(item)"
                          class="btn btn-sm btn-warning"
                          tooltip="Discard your item. This will make an entry in the game log">
                    Discard Item
                  </button>
                </li>
                <li>
                  <button class="btn btn-sm btn-warning" disabled>
                    Send to Player
                  </button>
                </li>
                <li>
                  <button class="btn btn-sm btn-warning" disabled>
                    Reveal Item
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-info" ng-click="gpCollapse = !gpCollapse ">Toggle Great Persons</button>
      <hr>
      <div collapse="gpCollapse">
        <div class="well well-lg" ng-show="userCtrl.greatPersons">
          <ul>
            <li ng-repeat="item in userCtrl.greatPersons">{{item.greatperson.name}} {{item.greatperson.type}} {{item.greatperson.description}}
              <ul>
                <li>
                  <button ng-really-message="This will discard your item. Are you sure?"
                          ng-really-click="userCtrl.discardItem(item)"
                          class="btn btn-sm btn-warning"
                          tooltip="Discard your item. This will make an entry in the game log">
                    Discard Item
                  </button>
                </li>
                <li>
                  <button class="btn btn-sm btn-warning" disabled>
                    Send to Player
                  </button>
                </li>
                <li>
                  <button class="btn btn-sm btn-warning" disabled>
                    Reveal Item
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-info" ng-click="unitCollapse = !unitCollapse">Toggle Units</button>
      <hr>
      <div collapse="unitCollapse">
        <div class="well well-lg" ng-show="userCtrl.units">
          <ul>
            <!--TODO -->
            <li ng-repeat="item in userCtrl.units">{{unit}}
              <ul>
                <li>
                  <button ng-really-message="This will discard your item. Are you sure?"
                          ng-really-click="userCtrl.discardItem(item)"
                          class="btn btn-sm btn-warning"
                          tooltip="Discard your item. This will make an entry in the game log">
                    Discard Item
                  </button>
                </li>
                <li>
                  <button class="btn btn-sm btn-warning" disabled>
                    Send to Player
                  </button>
                </li>
                <li>
                  <button class="btn btn-sm btn-warning" disabled>
                    Reveal Item
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-info" ng-click="cultureCardsCollapse = !cultureCardsCollapse">Toggle Culture Cards</button>
      <hr>
      <div collapse="cultureCardsCollapse">
        <div class="well well-lg" ng-show="userCtrl.cultureCards">
          <ul>
            <li ng-repeat="item in userCtrl.cultureCards">
              <!--TODO Would be nice to put these duplicate code in another file, but doesnt work
                <ng-include src="mystuff/itemActions.html"></ng-include>
              -->
              {{userCtrl.nextElement(item).name}}
              <ul>
                <li>
                  <button ng-really-message="This will discard your item. Are you sure?"
                          ng-really-click="userCtrl.discardItem(item)"
                          class="btn btn-sm btn-warning"
                          tooltip="Discard your item. This will make an entry in the game log">
                    Discard Item
                  </button>
                </li>
                <li>
                  <button class="btn btn-sm btn-warning" disabled>
                    Send to Player
                  </button>
                </li>
                <li>
                  <button class="btn btn-sm btn-warning" disabled>
                    Reveal Item
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-info" ng-click="hutsCollapse = !hutsCollapse">Toggle Huts</button>
      <hr>
      <div collapse="hutsCollapse">
        <div class="well well-lg" ng-show="userCtrl.huts">
          <ul>
            <li ng-repeat="item in userCtrl.huts">{{item.hut.name}}
              <ul>
                <li>
                  <button ng-really-message="This will discard your item. Are you sure?"
                          ng-really-click="userCtrl.discardItem(item)"
                          class="btn btn-sm btn-warning"
                          tooltip="Discard your item. This will make an entry in the game log">
                    Discard Item
                  </button>
                </li>
                <li>
                  <button class="btn btn-sm btn-warning" disabled>
                    Send to Player
                  </button>
                </li>
                <li>
                  <button class="btn btn-sm btn-warning" disabled>
                    Reveal Item
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <button class="btn btn-info" ng-click="villagesCollapse = !villagesCollapse">Toggle Villages</button>
      <hr>
      <div collapse="villagesCollapse">
        <div class="well well-lg" ng-show="userCtrl.villages">
          <ul>
            <li ng-repeat="item in userCtrl.villages">{{item.village.name}}
              <ul>
                <li>
                  <button ng-really-message="This will discard your item. Are you sure?"
                          ng-really-click="userCtrl.discardItem(item)"
                          class="btn btn-sm btn-warning"
                          tooltip="Discard your item. This will make an entry in the game log">
                    Discard Item
                  </button>
                </li>
                <li>
                  <button class="btn btn-sm btn-warning" disabled>
                    Send to Player
                  </button>
                </li>
                <li>
                  <button class="btn btn-sm btn-warning" disabled>
                    Reveal Item
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- techs -->
  <div class="row">
    <hr/>
    <h2>Techs</h2>
    <div class="well well-lg col-lg-8">
      List of all the techs chosen
    </div>
    <div class="well well-lg col-lg-4">
      Choose tech here
    </div>
  </div>
</div>
