/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Can add this to combine different effects */
/* view.ng-enter ie */

/*
.ng-enter {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  animation: fadeIn 1s;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  opacity: 0;
}

.ng-enter.ng-enter-active {
  opacity: 1;
}
*/

/* Fix for angular and bootstrap */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.padd-right-5 {
  padding: 5px !important;
}

.padd-top-7 {
  padding-top: 7px !important;
}

/* Ting jeg har added fra kurset */
input.ng-touched.ng-invalid {
  border: 2px #ff0000 solid;
}

.ng-move {
  -webkit-animation: pulse 0.3s;
  -moz-animation: pulse 0.3s;
  -o-animation: pulse 0.3s;
  animation: pulse 0.3s;
}

.ng-enter {
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.ng-hide-add {
  -webkit-animation: fadeOut 0.5s;
  -moz-animation: fadeOut 0.5s;
  -o-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
  display: block !important;
}

.ng-hide-remove {
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  display: block !important;
}

.work-spinner {
  position: fixed;
  z-index: 1;
  left: 45%;
  top: 65px;
}

div.battle {
  background: url('/images/useritems/Battlefield_gross.png') no-repeat center center;
  background-size: cover;
  padding-left: 10px;
}

/* Remove the stupid yellow color in chrome when it wants to remember a input text field for you */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.blue {
  color: #0000ff;
}

.yellow {
  color: #ffff00;
}

.green {
  color: #008000;
}

.purple {
  color: #800080;
}

.red {
  color: #FF0000;
}
